<div class="modal-overlay" *ngIf="show">
  <div class="modal-container">
    <div class="modal-header">
      <button class="close-btn" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-body">
      <button *ngIf="data.cv" mat-raised-button color="accent" style="width: 100%; justify-content: center"
        (click)="downloadCandidature()">
        Télécharger la candidature
        <mat-icon>download</mat-icon>
      </button>

      <div class="dialog-row"><strong>Name:</strong> <span>{{ data.nom }}</span></div>
      <div class="dialog-row"><strong>Email:</strong> <span>{{ data.email }}</span></div>
      <div class="dialog-row"><strong>Phone:</strong> <span>{{ data.telephone }}</span></div>
      <div class="dialog-row"><strong>Cover Letter:</strong> <span>{{ data.coverLetter }}</span></div>
      <div *ngIf="!settings; else elseBlock" class="dialog-row status-view">
        <strong>Status:</strong>
        <mat-chip style="cursor: pointer;" [ngStyle]="{
                        'background-color': getStatusColor(data.statut),
                        'color': 'white'}">
          {{ data.statut }}
        </mat-chip>
        <button mat-icon-button class="settings-btn" (click)="enableSettings()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <ng-template #elseBlock>
        <div class="dialog-row status-edit">
          <strong>Status:</strong>
          <mat-form-field appearance="fill" class="status-field">
            <mat-label>Statut</mat-label>
            <mat-select [(value)]="selectedStatus">
              <mat-option value="EN ATTENTE">EN ATTENTE</mat-option>
              <mat-option value="ACCEPTÉ">ACCEPTÉ</mat-option>
              <mat-option value="REJETÉ">REJETÉ</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>

      <div class="dialog-row"><strong>CV:</strong>

        <!-- on-view-dialog.component.html -->
        <div class="dialog-content">
          <!-- <h2>View CV</h2> -->
          <div *ngIf="cvUrl">
            <iframe [src]="cvUrl" width="80%" height="300px"></iframe>
          <button mat-icon-button class="settings-btn" (click)="onOpen(data)">
            <mat-icon>description</mat-icon>
          </button>
        </div>
          <div *ngIf="!cvUrl">
            <p>No CV available.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>