<div class="bpmn-editor-wrapper">
  <!-- Barre d’outils -->
  <div class="bpmn-toolbar">
    <button class="download-btn" (click)="downloadDiagram()">⬇ Télécharger BPMN</button>
    <button class="deploy-btn" (click)="deployDiagramToBackend()">🚀 Déployer BPMN</button>

    <!-- Superposition du chargeur -->
    <div class="loader-overlay" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>

    <!-- Superposition de succès -->
    <div class="success-overlay" *ngIf="isSuccess">
      <div class="success-box">
        ✅ Diagramme déployé avec succès !
      </div>
    </div>

    <div class="load-group">
      <select [(ngModel)]="selectedHistoryVersion">
        <option *ngFor="let version of HistoryVersions" [value]="version">
          {{ version }}
        </option>
      </select>
      <button class="deploylatest-btn" (click)="loadSelectedHistory()">🕑 Charger une version précédente</button>
    </div>
    <!-- <button class="extract-conditions-btn" (click)="extractAndSaveConditions()">🔧 Extraire les conditions</button> -->
  </div>

  <!-- Sélecteur de délégué -->
  <div *ngIf="selectedElement?.type === 'bpmn:ServiceTask'" class="delegate-selector">
    <label for="delegateSelect">Classe déléguée :</label>
    <select id="delegateSelect" (change)="onDelegateChange($event)" [value]="selectedDelegate">
      <option value="" disabled>Sélectionner un délégué</option>
      <option *ngFor="let delegate of delegateClasses" [value]="delegate.beanName">
        {{ delegate.description }} ({{ delegate.beanName }})
      </option>
    </select>
  </div>

  <!-- Conteneur BPMN -->
  <div class="bpmn-container">
    <div class="palette" #palette></div>
    <div class="canvas" #canvas></div>
    <div class="properties-panel" #properties></div>
  </div>
</div>

<!-- Lien vers WorkflowFormComponent -->
<app-workflow-form #workflowForm></app-workflow-form>