<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offres Cards</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="card-container">
        <div class="card">
            <i class="fas fa-plus-circle"></i>
            <h3>Ajouter Offre</h3>
            <p>Créez une nouvelle offre pour les candidats.</p>
            <a routerLink="/addoffre"href="ajouter-offre" class="btn">Ajouter</a>
        </div>
        <div class="card">
            <i class="fas fa-eye"></i>
            <h3>Consulter les Offres</h3>
            <p>Visualisez toutes les offres disponibles.</p>
            <a routerLink="/offreEmploi/offres" href="consulter-offres" class="btn">Consulter</a>
        </div>
    </div>
</body>
</html>